* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    margin: 50px auto;
    width: 90vw;
    min-height: 100vh;
    max-width: 720px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}