.calcWrap {
    max-width: 440px;
    margin: 20px auto 50px;
    padding: 15px;
    background-color: rgba(238, 238, 238, 0.3);

    .note {
        color: rgba(0, 0, 0, 0.5);

        ul {
            margin: 10px 0 0 20px;
        }
    }

    .inputGroup {
        margin: 25px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;


        label {
            flex-basis: 100%;
            display: block;
            margin-bottom: 5px;
        }

        .select {
            flex-grow: 1;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }
    }

    .resultsContainer {
        margin: 25px 0;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        .result {
            height: 38px;
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: 'Roboto Mono', monospace;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #cccccc;
            background-color: #eee;
        }
    }

    .btnContainer {
        display: flex;
        justify-content: center;
    }

}