.puzzle {
  margin: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  img {
    width: 70px;
    height: 70px;

    filter: invert(0.5);
    transition: 0.3s;
  }

  span {
    color: rgba(0, 0, 0, 0.5);
  }
}

.puzzle:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  img {
    filter: invert(0);
  }
}