* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    margin: 50px auto;
    max-width: 720px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

h3 {
    margin-bottom: 5px;
}